<!-- Font -->

<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="box">
    <input type="checkbox" id="toggle" class="box__toggle" hidden />
    <img
      src="https://www.dropbox.com/s/u1hx11933jjk7j5/unsplash-bike.jpeg?raw=1"
      alt="Picture by Autumn Studio"
      class="box__image"
    />
    <div class="form form--register">
      <h1 class="form__title">Sign up</h1>

      <div class="form__helper">
        <input
          type="text"
          name="user"
          [(ngModel)]="name"
          placeholder="First name"
          class="form__input"
        />
        <label class="form__label" for="new-user">User</label>
      </div>
      <div class="form__helper">
        <input
          type="text"
          name="user_last"
          [(ngModel)]="last_name"
          placeholder="Last Name"
          class="form__input"
        />
        <label class="form__label" for="new-user">User</label>
      </div>
      <div class="form__helper">
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          id="email"
          placeholder="Email"
          class="form__input"
        />
        <label class="form__label" for="email">Email</label>
      </div>

      <div class="form__helper">
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          id="new-user-password"
          placeholder="Password"
          class="form__input"
        />
        <label class="form__label" for="new-user-password">Password</label>
      </div>

      <div class="form__helper">
        <input
          type="password"
          name="password"
          [(ngModel)]="cpassword"
          id="confirm-password"
          Placeholder="Confirm password"
          class="form__input"
        />
        <label class="form__label" for="confirm-password"
          >Confirm password</label
        >
      </div>

      <button class="form__button" (click)="register()">Register</button>

      <p class="form__text">
        Already have an account?
        <label for="toggle" class="form__link">Sign in!</label>
      </p>
    </div>

    <form class="form form--login" action="">
      <h1 class="form__title">Sign in</h1>

      <div class="form__helper">
        <input
          type="text"
          name="user"
          id="user"
          placeholder="User"
          class="form__input"
        />
        <label class="form__label" for="user">User</label>
      </div>

      <div class="form__helper">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          class="form__input"
        />
        <label class="form__label" for="password">Password</label>
      </div>

      <button type="submit" class="form__button">Login</button>

      <p class="form__text">
        Don't have an account?
        <label for="toggle" class="form__link">Sign up!</label>
      </p>
    </form>
  </div>
</div>
