<!-- Font -->

<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="box">
    <input type="checkbox" id="toggle" class="box__toggle" hidden />
    <img
      src="../../assets/unsplash-bike.jpeg"
      alt="Picture by Autumn Studio"
      class="box__image"
    />
    <div class="form form--register">
      <h1 class="form__title">Sign up</h1>

      <div class="form__helper">
        <input
          type="text"
          name="user"
          [(ngModel)]="user.name"
          placeholder="First name"
          class="form__input"
        />
        <label class="form__label" for="new-user">First Name</label>
      </div>
      <div class="form__helper">
        <input
          type="text"
          name="user_last"
          [(ngModel)]="user.last_name"
          placeholder="Last Name"
          class="form__input"
        />
        <label class="form__label" for="new-user">Last name</label>
      </div>
      <div class="form__helper">
        <input
          type="email"
          name="email"
          [(ngModel)]="user.email"
          id="email"
          placeholder="Email"
          class="form__input"
        />
        <label class="form__label" for="email">Email</label>
      </div>

      <div class="form__helper">
        <input
          type="password"
          name="password"
          [(ngModel)]="user.password"
          id="new-user-password"
          placeholder="Password"
          class="form__input"
        />
        <label class="form__label" for="new-user-password">Password</label>
      </div>

      <div class="form__helper">
        <input
          type="password"
          name="password"
          [(ngModel)]="cpassword"
          id="confirm-password"
          Placeholder="Confirm password"
          class="form__input"
        />
        <label class="form__label" for="confirm-password"
          >Confirm password</label
        >
      </div>

      <button class="form__button" (click)="register()">Register</button>

      <p class="form__text">
        Already have an account?
        <label for="toggle" class="form__link">Sign in!</label>
      </p>
    </div>

    <div class="form form--login" action="">
      <h1 class="form__title">Sign in</h1>

      <div class="form__helper">
        <input
          type="email"
          name="emails"
          id="emails"
          [(ngModel)]="email_signIn"
          placeholder="emails"
          class="form__input"
        />
        <label class="form__label" for="emails">Email</label>
      </div>

      <div class="form__helper">
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="password_signIn"
          placeholder="Password"
          class="form__input"
        />
        <label class="form__label" for="password">Password</label>
      </div>

      <button (click)="signIn()" class="form__button">Login</button>

      <p class="form__text">
        Don't have an account?
        <label for="toggle" class="form__link">Sign up!</label>
      </p>
    </div>
  </div>
</div>
