<div class="mb-3">
  <div class="pt-4">
    <table class="table table-borderless">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Unit</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of selectedProducts">
          <td>{{ product.name }} - {{ product.size }} - {{ product.color }}</td>
          <td>{{ product.updatedCount }}</td>
          <td>${{ product.price }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-block">
      Go To Checkout
    </button>
  </div>
</div>
