<div class="mb-3">
  <div class="">
    <table class="table table-borderless">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Unit</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of selectedProducts">
          <td>{{ product.name }} - {{ product.size }} - {{ product.color }}</td>
          <td>{{ product.updatedCount }}</td>
          <td>${{ product.price }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="goToCheckout()" type="button" class="btn btn-primary btn-block custom-button">
      Go To Checkout
    </button>
    <button
      type="button"
      (click)="clear()"
      class="btn btn-primary btn-block custom-button"
    >
      Clear Cart
    </button>
  </div>
</div>
