.custom-button{
  background: transparent;
  color: brown
}

table .thead-dark th {
  color: #fff;
  background-color: #34577b;
  border-color: #454d55;
}

.btn-success{
  color: #fff;
  background-color: #4cb77b;
  border-color: #ffffff;
}
.edit-button{
    font-size: 7px;
    background: transparent;
    border-block-end: revert;
    cursor: pointer;
    color: black;
}